<% include partials/header %>

<div class="container show">
    <div class="row">
        <div class="col col-12 col-md-4">
            <p class="lead">User information</p>
            <div class="list-group">
                    <ul class=info>
                        <li class="list-group-item"><%= user.firstName %> <%= user.lastName %></li>
                        <li class="list-group-item"><%= user.email %></li>
                    </ul>
                    <div>
                    </div>
            </div>            
        </div>
        <div class="col col-12 col-md-8">
            <h3>My posts</h3>
            <% castles.forEach(function(castle){ %>
                <div class="container">
                    <div class="row">
                        <div class="col col3">
                            <img src="<%=castle.image%>" alt="<%= castle.name %>">
                        </div>
                        <div class="col col-9">
                            <h4><a href="/castles/<%=castle.id%>"><%= castle.name %></a></h4>
                        </div>                       
                    </div>        
                </div>
            <% }) %>            
        </div>
    </div>
</div>

<% include partials/footer %>